* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}


body {
    background-color: #f0f2f5;
}


.container {
    display: flex;
}


.sidebar {
    width: 200px;
    background-color: #ffffff;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    border-right: 1px solid #ccc;
}

.sidebar button {
    padding: 10px;
    border: none;
    background-color: #eee;
    cursor: pointer;
    border-radius: 5px;
}

.sidebar button:hover {
    background-color: #ddd;
}

/* CONTEÚDO */
.conteudo {
    flex: 1;
    padding: 30px;
}


.perfil {
    display: flex;
    align-items: center;
    gap: 15px;
    background-color: white;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.perfil img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}


.editar {
    margin-left: auto;
    padding: 8px 12px;
    border: none;
    background-color: black;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}


.postagem-form {
    background-color: white;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.postagem-form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}

.postagem-form button {
    padding: 8px 15px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}


.post {
    background-color: white;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.post-header {
    display: flex;
    align-items: center;
    gap: 10px;
}

.post-header img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.conteudo-post {
    margin: 15px 0;
}


.acoes {
    display: flex;
    gap: 15px;
}

.acoes button {
    border: none;
    background: none;
    cursor: pointer;
}



.container-login {
    width: 300px;
    margin: 100px auto;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

.container-login h2 {
    margin-bottom: 15px;
}

.container-login input,
.container-login select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}

.container-login button {
    width: 100%;
    padding: 10px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
